<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header class="header_div">
    <div class="header_button_div">
        <button class="header_button_text header_button_text__selected">HOME</button>
        <button class="header_button_text">LINHA DO TEMPO</button>
        <button class="header_button_text">HISTÓRIA</button>
        <button class="header_button_text">FÓRUM</button>
        <button class="header_button_text">ARTIGO</button>
    </div>
    <h2 class="header_subtitle">Discover</h2>
    <h1 class="header_title">BeyondGalaxy</h1>
    <button class="header_explore">Explore Now</button>
  </header>
  <section>
    <div class="svg_holder">
        <div class="header_svg_cut"></div>
    </div>
    <div class="introduction_div">
        <div class="introduction_left_div">
            <h1 class="introduction_title">As Sondas <a style="color: #EBE96B;">Voyager</a></h1>
            <p class="introduction_text">Descubra a história da <a style="color: #EBE96B;">missão espacial mais longa e mais icônica de todos os tempos.</a> Aproveite para entender um pouco da <a style="color: #EBE96B;">história</a> ou discutir sobre novidades no <a style="color: #EBE96B;">fórum.</a></p>
            <div class="introduction_button_div">
                <button class="introduction_button">História</button>
                <button class="introduction_button">Fórum</button>
            </div>
        </div>
        <div class="introduction_line"></div>
        <div class="introduction_right_div">
            <div class="introduction_disco_de_ouro"></div>
            <p class="introduction_text" style="max-width: 90%; margin-left: -3rem;">O Disco de Ouro é <a style="color: #EBE96B;">extremamente importante</a> na história das Voyagers, você pode ver um pouco mais na <a style="color: #EBE96B;">página de história.</a></p>
        </div>
    </div>
  </section>
</body>
</html>