* {
    margin: 0;
    text-decoration: none;
    font-family: 'Onest', sans-serif;
}

html{
    background-color: #111C41;
}

header {
    height: 93vh;
    background-image: url('./assets/fundo-header.png');
    background-size: cover;
}

.seta {
    z-index: 1;
    position: relative;
    bottom: 6.5rem;
    width: 100%;
    height: 400px;
    clip-path: polygon(50% 25%, 100% 0, 100% 25%, 100% 25%, 50% 50%, 50% 50%, 50% 50%, 0 25%, 0 0);
    background-color: #1f2d67;
  }

.logo img,
.profile img {
    height: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

ul li {
    margin: 0 15px;
}

ul li a {
    margin: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Onest", sans-serif;
}

ul li a.active {
    border-bottom: 3px solid #C898EC;
    color: #C898EC;
}

nav ul li a:hover {
    color: #C898EC;
}

.hero {
    color: white;
    text-align: center;
    bottom: 10vh;
}

.hero h1 {
    color: #F0F0FA;
    font-size: 80px;
    margin-top: 10%;
    margin-right: 30%;
    font-family: "Onest", sans-serif;
    font-weight: 300;
}

.hero button {
    background-color: transparent;
    color: white;
    padding: 10px 20px; 
    border: 2px solid white;
    border-radius: 25px;
    font-size: 36px; 
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.25rem;
    height: auto;
    margin-left: 46%;
    margin-top: 5%;
}

.hero a {
    color: white;
    height: auto;
}

.hero span {
    font-weight: 700; 
    color: #FFFFFF; 
    border-bottom: 4px solid #d8b4ff;
}


.hero p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-family: "Onest", sans-serif;
    margin-right: 30%; 
    line-height: 1.5;
    font-weight: 300;
}

footer{
    margin-top: 2rem;
    background-color: black;
    height: 22rem;
    color: whitesmoke;
    display: flex;
}

footer p{
    margin: 1rem 0 1rem 1rem;
    font-size: 2.1rem;
}

footer h1{
    font-size: 3.125rem;
    font-weight: normal;
}

footer span{
    font-weight: bold;
}

footer hr{ 
    height: 0.5625rem;
    background-color: #870EE1;
    margin-top: 0.5rem;
    width: 22.625rem;
    border: none;
    border-radius: 10px;
}

footer img{
    scale: 65%;
    margin-left: -10%;
}

footer div{
    padding: 1.5rem 0 0 1.5rem;
    width: 45%;
}

.footer-left{
    width: 30%;
    margin-left: 30%;
}

.footer-left hr{
    width: 9.4375rem;
}

footer ol{
    list-style-type: disc;
    font-size: 1.6rem;
}

footer li{
    margin-top: 1rem  ;
}